<!DOCTYPE html>
<html ng-app="ambientAngular">

<head>
    <meta charset="utf-8" />
    <title>AngularJS 1.3 Form Validations</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/ambient/dist/css/ambient.css" />
    <link rel="stylesheet" href="bower_components/ambient/dist/css/design-patterns.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.0/angular-messages.js"></script>
    <script src="http://code.angularjs.org/1.2.0/angular-animate.min.js" ></script>

    <script src="bower_components/ambient/dist/js/prefixfree.js"></script>

    <!--<script src="app.js"></script>-->
    <!--Modularize ambient-angular--->
    <script src="app/ambientAngular.module.js"></script>
    <script src="app/formStates/formStates.module.js"></script>
    <script src="app/navs/navs.module.js"></script>
    <script src="app/uiElements/uiElements.module.js"></script>
    <script src="app/uxShells/uxShells.module.js"></script>

</head>

<body>
<h1>AngularJS 1.3 Form States within Ambient</h1>
<main role="main">
    <article>
        <h1>
            Validation, ngMessages, $asyncValidators, and $pending
        </h1>
        <form name="demoForm" ng-controller="formStatesCtrl" novalidate>
            Username:
            <input type="text" name="username" ng-model="username" username-validator ng-required="true" />
            <!--$asyncValidators with the $pending Property-->
            <span ng-show="demoForm.username.$pending">Checking Availability . . .</span>
            <!--Using $submit Property to display errors if someone opens the app and tries to submit the form without entering anything in any field-->
            <div class="messages" ng-messages="demoForm.username.$error" ng-if="demoForm.username.$touched || demoForm.$submitted">
                <div class="error-message" ng-show="demoForm.username.$error.required">Username is required.</div>
                <div class="error-message" ng-show="demoForm.username.$error.username">Username must contain only letters and numbers.</div>
                <div class="error-message" ng-message="usernameAvailability">Sorry! Username has been taken</div>
                <!--<div class="error-message" ng-message="required">Username is required.</div>-->
                <!--<div class="error-message" ng-message="username">Username must contain only letters and numbers.</div>-->

            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </article>
    <hr />

    <article>
        <form name="myForm">
            <label>
                Email
            </label>
            <input type="email"
                   name="myEmail"
                   minlength="5"
                   maxlength="100"
                   ng-model="myEmail"
                   required />
            <div ng-if="myForm.myEmail.$invalid">Invalid.</div>
            <div ng-if="myForm.myEmail.$valid">Valid.</div>
            <div ng-if="myForm.myEmail.$pristine">Pristine.</div>
            <div ng-if="myForm.myEmail.$dirty">Dirty.</div>

        </form>
    </article>
    <hr />

    <article>
        <h1>
            Ambient Form State
        </h1>
        <form ambientformstate="stacked">
            <label for="stacked-email" ambientpreicon="&#xf118;">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password" ambientposticon="&#xf118;">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">

            <label for="stacked-remember">
                <input id="stacked-remember" type="checkbox"> Remember me
            </label>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </article>
</main>
<footer>
    <h1>
        Helpful
    </h1>
    <p>
        http://www.yearofmoo.com/2014/09/taming-forms-in-angularjs-1-3.html
    </p>
    <p>
        http://www.yearofmoo.com/2014/05/how-to-use-ngmessages-in-angularjs.html
    </p>
    <p>
        http://www.htmlxprs.com/post/11/angularjs-1.3-form-validation-tutorial
    </p>
    <p>
        https://weblogs.asp.net/dwahlin/creating-custom-angularjs-directives-part-7-%E2%80%93-creating-a-unique-value-directive-using-asyncvalidators
    </p>
    <p>
        https://blog.safaribooksonline.com/2014/03/27/13-step-guide-angularjs-modularization/
    </p>
</footer>
</body>
</html>
