<!DOCTYPE html>
<html ng-app="ambientAngular">

<head>
    <meta charset="utf-8" />
    <title>AngularJS 1.3 Form Validations</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/ambient/dist/css/ambient.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.0/angular-messages.js"></script>
    <script src="http://code.angularjs.org/1.2.0/angular-animate.min.js" ></script>

    <script src="bower_components/ambient/dist/js/prefixfree.js"></script>

    <!--<script src="app.js"></script>-->
    <!--Modularize ambient-angular design patterns--->
    <script src="app/ambientAngular.module.js"></script>
    <script src="app/designPatterns/formStates/formStates.module.js"></script>
    <script src="app/designPatterns/navs/navs.module.js"></script>
    <script src="app/designPatterns/uiElements/uiElements.module.js"></script>
    <script src="app/designPatterns/uxShells/uxShells.module.js"></script>
    <style>

    </style>

</head>

<body>
<main role="main">
    <header>
        <h1>
            Ambient + Angular 1.3
        </h1>
    </header>
    <article>
        <h2>
            Forms
        </h2>
        <p>
            Form Validation, ngMessages, $asyncValidators, and $pending
        </p>
        <p>
            UI pattern <code>am-form</code>
        </p>
        <p>
            Ambient makes use of flexbox (main & cross axis). Messages in Ambient will be z-axis.
        </p>
        <p>
            I want to get away from rigid message type classes for initial layout in Ambient <em>(e.g.: info, warning, danger)</em> and simply have design for message <em>flow</em> priorities.
        </p>
        <p>
            Design classes can then be added later to create custom design for types based on the priority.
        </p>
        <section am-component am-padding>
            <h1>
                Stacked form
            </h1>
            <h2>
                <code>am-form="stacked message"</code>
            </h2>

            <form am-form="stacked message" name="demoForm" ng-controller="formStatesCtrl" novalidate>

                <label for="stacked-name">Username:</label>
                <input id="stacked-name" type="text" name="username" ng-model="username" username-validator ng-required="true" placeholder="User Name" />
                <!--$asyncValidators with the $pending Property-->
                <span am-message="z-1" ng-show="demoForm.username.$pending">Checking Availability . . .</span>

                <!--Using $submit Property to display errors if someone opens the app and tries to submit the form without entering anything in any field-->
                <div ng-messages="demoForm.username.$error" ng-if="demoForm.username.$touched || demoForm.$submitted">

                <div am-message="z-1" class="error-message" ng-message="usernameAvailability">Sorry! Username has been taken</div>
                <div am-message="z-2" class="error-message" ng-show="demoForm.username.$error.username">Username must contain only letters and numbers.</div>
                <div am-message="z-3" class="error-message" ng-show="demoForm.username.$error.required">Username is required.</div>


                <!--<div class="error-message" ng-message="required">Username is required.</div>-->
                <!--<div class="error-message" ng-message="username">Username must contain only letters and numbers.</div>-->
                </div>

                <label for="stacked-remember">
                    <input id="stacked-remember" type="checkbox">
                    Remember me
                </label>
                <button type="submit"  class="btn btn-primary">Submit</button>

            </form>
                  <pre>
&lt;form am-form="stacked message"&gt;
...
    &lt;div am-message="z-1"&gt;
       Checking Availability . . .
    &lt;/div&gt;

    &lt;div am-message="z-1"&gt;
       Sorry! Username has been taken
    &lt;/div&gt;

    &lt;div am-message="z-2"&gt;
       Username must contain only letters and numbers
    &lt;/div&gt;

    &lt;div am-message="z-3"&gt;
      Username is required.
    &lt;/div&gt;
...
&lt;/form&gt;
      </pre>
        </section>
        <section am-component am-padding>
            <h1>
                Aligned form
            </h1>
            <h2>
                <code>am-form="aligned"</code>
            </h2>
            <form am-form="aligned message" name="myForm">
                <span>
                    <label for="aligned-email">
                        Email
                    </label>
                <input id="aligned-email" type="email"
                       name="myEmail"
                       minlength="5"
                       maxlength="100"
                       ng-model="myEmail"
                       required />
                </span>

                <div am-message="z-3" ng-if="myForm.myEmail.$invalid">Invalid.</div>
                <div am-message="z-1"  ng-if="myForm.myEmail.$valid">Valid.</div>
                <div am-message="z-1"  ng-if="myForm.myEmail.$pristine">Pristine.</div>
                <div am-message="z-3"  ng-if="myForm.myEmail.$dirty">Dirty.</div>
            </form>
        </section>


    </article>
</main>
<footer am-layout am-padding="large">
    <h1>
        Helpful
    </h1>
    <p>
        http://www.yearofmoo.com/2014/09/taming-forms-in-angularjs-1-3.html
    </p>
    <p>
        http://www.yearofmoo.com/2014/05/how-to-use-ngmessages-in-angularjs.html
    </p>
    <p>
        http://www.htmlxprs.com/post/11/angularjs-1.3-form-validation-tutorial
    </p>
    <p>
        https://weblogs.asp.net/dwahlin/creating-custom-angularjs-directives-part-7-%E2%80%93-creating-a-unique-value-directive-using-asyncvalidators
    </p>
    <p>
        https://blog.safaribooksonline.com/2014/03/27/13-step-guide-angularjs-modularization/
    </p>
</footer>
</body>
</html>
